[submodule "imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json
	branch = master
[submodule "thirdparty/ziplib"]
	path = thirdparty/ziplib
	url = https://bitbucket.org/wbenny/ziplib
[submodule "thirdparty/toml11"]
	path = thirdparty/toml11
	url = https://github.com/ToruNiina/toml11
