# cmake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CMakeLists.txt.user
CTestTestfile.cmake

# build
/bin
/build
_generated_*
*.a

# tools
/.vscode
__pycache__
.directory

# config
*.ini

# misc
*.dump
/dumps
