[submodule "imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json
	branch = master
[submodule "thirdparty/toml11"]
	path = thirdparty/toml11
	url = https://github.com/ToruNiina/toml11
[submodule "thirdparty/imgui_markdown"]
	path = thirdparty/imgui_markdown
	url = https://github.com/juliettef/imgui_markdown
[submodule "scripts/graphifier"]
	path = scripts/graphifier
	url = https://github.com/chaoticgd/graphifier
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "thirdparty/cxxopts"]
	path = thirdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm
